body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
    color: #222;
    background: #f2f2f2;;
}

.bg .accpbanner {
    background: url("../img/accpbanner.png") center center no-repeat;
    color: white;
    width: 100%;
    height: 676px;

}

.bg .accpbannertxt {
    padding-left: 200px;
    padding-top: 50px;
    box-sizing: border-box;
}

.accpbannertxt p {
    font-weight: 600;
    margin-bottom: 20px;
}

.bigtitle {
    font-size: 36px;
}

.middletitle {
    font-size: 30px;

}

.accpbtn {
    width: 180px;
    height: 46px;
    line-height: 46px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
}

.center .ctop {
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: -30px;

}

.center .ctop div {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 10px
}

.center .ctop p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    display: flex; /*设置为flex布局*/
    justify-content: center; /*水平居中*/
    align-items: center;
}

.avgsal {
    background: url("../img/avgsal.png") center no-repeat;
    height: 700px;
    position: relative;
    top: 25px;
}

.morejob {
    background: url("../img/morejob.png") center no-repeat;
    height: 780px;
}

.centersecond {
    color: white;
    position: relative;
    top: 50px;

}

.centersecond .font {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 25px;

}

.centersecond p {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 500;
    display: flex; /*设置为flex布局*/
    justify-content: center; /*水平居中*/
    align-items: center;

}

.classintroduce {
    color: black;
    font-size: 30px;
    margin-bottom: 80px;
    background-color: #F2F2F2;
    padding-bottom: 50px;
}

#introduce {
    margin: 0 auto;
    display: flex;
    justify-content: center; /*水平居中*/
    align-items: center;
}

#introduce .inf0 {
    display: inline-block;
    width: 270px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin: 60px 10px 0;
    height: 450px;
    padding: 2px 10px;
    background-color: #fff;

}

#introduce .inf0 .ioc {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 20px auto;
}

#introduce .inf0 .ioc1 {
    background: url("../img/gzsxs01.png") center no-repeat;
}

#introduce .inf0 .ioc2 {
    background: url("../img/gzsxs02.png");
}

#introduce .inf0 .ioc3 {
    background: url("../img/gzsxs03.png");
}

#introduce .inf0 .ioc4 {
    background: url("../img/gzzsxs04.png") center no-repeat;
}

#introduce .inf0 .first {
    color: #004973;
    font-size: 23px;
    font-weight: 700;

}

#introduce .inf0 .second {
    font-size: 16px;
    margin-bottom: 20px;
}

#introduce .inf0 ul li {
    margin-left: 30px;
    color: #9A9A9A;
    list-style: disc;
}

.zixun {
    margin: 0 auto;
    width: 200px;

}

 div.zixun div.accpbtn {
    width: 200px;
    font-size: 20px;
    background-color: #0284CF;
    color: white;
}

.jxlc {
    color: black;
    background: url("../img/Hippopx.png") center no-repeat;
    margin-bottom: 100px;
}

.jxlc h3 {
    width: 560px;
    font-size: 28px;
    font-weight: 600;
    margin: 0 auto;
}

.accpclass {
    margin-bottom: 80px;
    height: 1000px;
    width: 1180px;
    position: relative;
    margin: 0 auto;


}

.accpclass .box {
    margin-top: 50px;
    display: inline-block;
    width: 480px;
    height: 330px;
    padding: 35px 0 0 50px;
}

.accpclass .box h3 {
    margin-bottom: 25px;
}

.accpclass .box1 {
    position: absolute;
    background: url("../img/sekuai.png") center no-repeat;

}

.accpclass .box2 {
    position: absolute;
    right: 10px;
    top: 210px;
    background: url("../img/sekuai2.png") center 10px no-repeat;

}

.accpclass .box3 {

    position: absolute;
    top: 450px;
    left: 40px;
    background: url("../img/sekuai3.png") center 10px no-repeat;

}

.accpclass .box p.classtype {
    display: block;
    text-align: left;
    line-height: 20px;
    margin: 10px 0;
}

.jtposition .jt01 {

    position: absolute;
    left: 570px;
    top: 270px;
    width: 44px;
    height: 44px;
    background: url("../img/jianto2.png") center no-repeat;
}

.jtposition .jt02 {
top:650px;
    left: 600px;
    position: absolute;

    width: 44px;
    height: 44px;
    background: url("../img/jianto.png") center no-repeat;
}

.jstype .ittype {
    width: 900px;
    height: 72px;
    margin: 30px auto;
    background: url("../img/bg001.png") center center no-repeat;
}

.jstype .ittype li {
    display: inline-block;
    line-height: 72px;
    width: 140px;
    text-align: center;
    font-size: 20px;
}

.jstype .ittype .bigfont {
    font-size: 22px;
    font-weight: 500;
    color: #168AD1;

}

.itcintent p{
    width: 900px;
    margin: 0 auto;
   padding-bottom: 20px;
}

.tabletr .tr {
    margin: 0 auto;
    width: 900px;
    border: 1px solid #000;
    display: flex; /*设置为flex布局*/
    align-items: center;
}
.tabletr .tr01{
    background: #0284CF;
    color: white;
}
.tabletr .tr02,.tr04{
    background: #F5FBFF;
}
.tabletr .tr03{
    background: #D7EDFA;
}
.tabletr .tr div {
    display: inline-block;
}
.tr .firsttd{
    width: 350px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
}
.tr ul{
    margin: 15px 5px;
}
.tr ul li{
    line-height: 25px;
    list-style: decimal;
}
.tr01 div,.tr01 div.title{
    font-size: 20px;
    font-weight: 500;
}

.ldbox{
    height: 690px;
    margin-top: 50px;
    padding-top: 3px;
    background: url("../img/accpbjt.png") center no-repeat;
}
.ldbox .ldbox1 h3{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin: 20px auto 10px;
    color: white;
}
.ldbox .ldbox1 p{
    text-align: center;
    margin: 10px auto ;
    color: white;
    padding-bottom: 30px;
}
.ldbox2,.ldbox3{
    width: 1200px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center; /*水平居中*/
}
.ldbox2 div,.ldbox3 div{
    width: 200px;
    height: 229px;
    display: inline-block;
    margin: 5px 45px;
}
.ldbox2 .lbox1{
     background: url("../img/liubx.png") center top no-repeat;
 }
.ldbox2 .lbox2{
    background: url("../img/liubx2.png") center top no-repeat;
}
.ldbox2 .lbox3{
    background: url("../img/liubx3.png") center top no-repeat;
}
.ldbox2 .lbox4{
      background: url("../img/liubx4.png") center top no-repeat;
  }

.ldbox3 .lbox5{
    background: url("../img/liubx5.png") center top no-repeat;
}
.ldbox3 .lbox6{
    background: url("../img/liubx6.png") center top no-repeat;
}
.ldbox3 .lbox7{
    background: url("../img/liubx7.png") center top no-repeat;
}
.ldbox2 p,.ldbox3 p{
    width: 154px;
    margin: 80px auto;
    font-size: 15px;

}
