.width1200 {width: 1200px;margin: 0 auto;}
.boxsize {box-sizing: border-box;}

/* 边距 */
.paddingtop40 {padding-top: 40px;}
.paddingtop50 {padding-top: 50px;}
.paddingtop60 {padding-top: 60px;}
.paddingtop100{padding-top: 100px;}
.paddingleft30 {padding-left: 30px;}
.paddingleft40 {padding-left: 40px;}
.paddinglr50{padding:0 50px ;}
.margintop10 {margin-top: 10px;}
.margintop20 {margin-top: 20px;}
.margintop30 {margin-top: 30px;}
.margintop50 {margin-top: 50px;}
.margintop60 {margin-top: 60px;}
.margintop100{margin-top: 100px;}
.marginbottom10{margin-bottom: 10px;}
.marginbottom20{margin-bottom: 20px;}
.marginbottom30{margin-bottom: 30px;}
.marginbottom50 {margin-bottom: 50px;}
.marginbottom100 {margin-bottom: 100px;}
.borderradius10 {border-radius: 10px;}
.colorred {color: red;}

/* 字体 */
.fz12{font-size: 12px;}
.fz14{font-size: 14px;}
.fz16{font-size: 16px;}
.fz20{font-size: 20px;}
.fz24{font-size: 24px;}
.fz28{font-size: 28px;}
.fz30{font-size: 30PX;}
.fz40{font-size: 40px;}
.fwbold {font-weight: bold;}
.cursorp {cursor: pointer;}
.txtalincenter{text-align: center;}

.img{width: 100%;height: 100%; }

.color333{color:#333333;}
.color666{color:#666666;}
.color999{color:#999999;}
.lh30{line-height: 30px;}

/* 布局 */
.flex{display: flex;display: -moz-box;display: -ms-flexbox; display: -webkit-box; display: -webkit-flex;}
